.list-content {
  padding-bottom: 1.333333rem;
  .list-title {
    text-align: center;
    font-size: 0.426667rem;
    margin-top: 0.373333rem;
    margin-bottom: 0.133333rem;
  }
  .title-line {
    display: inline-block;
    border-bottom: 0.026667rem solid #949494;
    height: 0.026667rem;
    width: 0.8rem;
    margin-right: 0.106667rem;
    margin-bottom: 0.106667rem;
  }
}
