.category-content{
  .category-item{
    float: left;
    width: 25%;
    padding-top: .373333rem;
    font-size: .346667rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-icon{
    width: 1.253333rem;
  }
  .item-name{
    margin-top: .373333rem;
  }
}