.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.333333rem;
  display: flex;
  border-top: 1px solid #b6b6b6;
  background-color: rgba(249, 249, 249, 0.95);

  .btn-item {
    flex: 1;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999;
    text-decoration: none;
    .tab-icon {
      margin-bottom: 0.106667rem;
      width: .666667rem;
      height: .666667rem;
    }
    &.active {
      color: #000;
    }
    &.my {
      .tab-icon {
        background: url(./img/myIcon.png) no-repeat;
        background-size: cover;
      }
    }
    &.my.active {
      .tab-icon {
        background: url(./img/myIconActive.png) no-repeat;
        background-size: cover;
      }
    }
    &.home {
      .tab-icon {
        background: url(./img/homeIcon.png) no-repeat;
        background-size: cover;
      }
    }
    &.home.active {
      .tab-icon {
        background: url(./img/homeIconActive.png) no-repeat;
        background-size: cover;
      }
    }
    &.order {
      .tab-icon {
        background: url(./img/orderIcon.png) no-repeat;
        background-size: cover;
      }
    }
    &.order.active {
      .tab-icon {
        background: url(./img/orderIconActive.png) no-repeat;
        background-size: cover;
      }
    }
  }
}
